@charset "UTF-8";

/* CSS - Ferreto | Codificado por: Ueek Agência Digital | Ano: 2019 */

/******************* Atribuições Gerais *********************/
* {
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased !important;
	-moz-font-smooth:antialiased !important;
	-o-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	font-smoothing:antialiased;
	margin:0;
	padding:0;
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
	background:#c0d445;
	color:#fff;
}

h1,h2,h3,h4,h5 { font-weight: normal; }

a {
	cursor:pointer;
	text-decoration:none;
}

br { clear:both; }

img { border:0; }

input,
textarea,
select { outline: none; }

body {
	background: #fff;
	background-position: 0 400px;
	color: #3f3e40;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

body{
	overflow-x: hidden;
}

html{
	/*overflow-x: hidden;*/
}

.content {
  overflow-x: hidden;
}

.conteudo {
  margin: 0 auto;
  width: 1400px;
  position: relative;  /*width: 1100px;*/
  
  /*border: 1px solid red;*/
}

.soft-hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 50);
  filter: alpha(opacity = 50);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

strong, b { font-weight: 700; }
/******************* Atribuições Gerais *********************/


/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Poppins', sans-serif;
*/


/******************** Atribuições Topo HOME **********************/
.link-logo{
	display: block;
	float: left;
}

header#topo{
	background: #001f41;
	height: 91px;
	/*display: none;*/
	width: 100%;
	position: fixed;
	z-index: 3;
	/*z-index: 10;*/
}

header#topo #logo-header{
	margin-top: 23px;
}

header#topo #btn-assine{
	background: #00e79c;
	border: 1px solid #00e79c;
	border-radius: 120px;

	color: #3846dc;
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;

	margin-top: 15px;
	margin-left: 30px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 155px;
}

header#topo #btn-assine:hover{
	background: transparent;
	border: 1px solid #00e79c;

	color: #00e79c;
}

header#topo nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo nav#menu ul li.blog-menu{
	background: url(../img/blog.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo nav#menu ul li.login{
	background: url(../img/login.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo nav#menu ul li a{
	color: #ffffff;
}

header#topo nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}




.topo{
	position: relative;
	z-index: 10;
}

header#topo-home{
	background: url(../img/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 850px;
}

header#topo-home #logo-header{
	margin-top: 23px;
}

header#topo-home #btn-assine{
	background: #00e79c;
	border: 1px solid #00e79c;
	border-radius: 120px;

	color: #3846dc;
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;

	margin-top: 15px;
	margin-left: 30px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 155px;
}

header#topo-home #btn-assine:hover{
	background: transparent;
	border: 1px solid #00e79c;

	color: #00e79c;
}

header#topo-home nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo-home nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo-home nav#menu ul li.blog-menu{
	background: url(../img/blog.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo-home nav#menu ul li.login{
	background: url(../img/login.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo-home nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo-home nav#menu ul li a{
	color: #ffffff;
}

header#topo-home nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}

header#topo-home .btn-header{
	background: #ffee34;
	border: 1px solid #ffee34;
	border-radius: 120px;

	color: #3846dc;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;

	margin-top: 598px;
	margin-left: 755px;
	text-align: center;
	text-transform: uppercase;
	line-height: 60px;
	height: 60px;
	width: 213px;
}

header#topo-home .btn-header:hover{
	background: transparent;
	border: 1px solid #ffee34;

	color: #ffee34;
}
/******************** Atribuições Topo HOME **********************/


/******************** Atribuições Topo Confirmada **********************/
header#topo-confirmada{
	background: #00ecab;
	/*background: url(../img/banner-confirmada.jpg) #01ecaa;
	background-position: center;
	background-repeat: no-repeat;*/
	height: 595px;
}

header#topo-confirmada #logo-header{
	margin-top: 23px;
}

header#topo-confirmada nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo-confirmada nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #3846dc;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo-confirmada nav#menu ul li.blog-menu{
	background: url(../img/blog-confirmada.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo-confirmada nav#menu ul li.login{
	background: url(../img/login-confirmada.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo-confirmada nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo-confirmada nav#menu ul li a{
	color: #3846dc;
}

header#topo-confirmada nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}



header#topo-confirmada h1{
	color: #ffef37;
    font-family: 'portuguesascript';
    font-size: 122px;
    line-height: 61px;
    font-weight: normal;

    margin: 79px 0 0 0;
    text-align: center;
}

header#topo-confirmada h2{
	color: #3846dc;
	font-family: 'Poppins', sans-serif;
    font-size: 46px;
    line-height: 49px;
    font-weight: 900;

    margin: 3px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}

header#topo-confirmada p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 26px 0 0 0;
    text-align: center;
}

header#topo-confirmada .btn-header{
	background: #3846dc;
	border: 1px solid #3846dc;
	box-sizing: border-box;
	border-radius: 120px;

	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;
	/*line-height: 22px;*/

	margin: 40px auto 0 auto;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	width: 600px;
}

header#topo-confirmada .btn-header span{
	color: #f6ef3b;
}

/*header#topo-confirmada .btn-header:hover{
	background: transparent;
	border: 1px solid #ffee34;

	color: #ffee34;
}*/
/******************** Atribuições Topo Confirmada **********************/


/******************** Atribuições Topo termos **********************/
header#topo-termos{
	background: #3b4ade;
	/*background: url(../img/banner-termos.png);
	background-position: center;
	background-repeat: no-repeat;*/
	height: 432px;
}

header#topo-termos #logo-header{
	margin-top: 23px;
}

header#topo-termos #btn-assine{
	background: #ffef37;
	border: 1px solid #ffef37;
	border-radius: 120px;

	color: #3644db;
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;

	margin-top: 15px;
	margin-left: 30px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 155px;
}

header#topo-termos #btn-assine:hover{
	background: transparent;
	border: 1px solid #ffef37;

	color: #ffef37;
}

header#topo-termos nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo-termos nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo-termos nav#menu ul li.blog-menu{
	background: url(../img/blog-termos.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo-termos nav#menu ul li.login{
	background: url(../img/login-termos.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo-termos nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo-termos nav#menu ul li a{
	color: #fff;
}

header#topo-termos nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}


header#topo-termos h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
    line-height: 46px;
    font-weight: 900;
    margin: 166px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}
/******************** Atribuições Topo termos **********************/


/******************** Atribuições Topo duvidas **********************/
header#topo-duvidas{
	background: url(../img/banner-duvidas.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 432px;
}

header#topo-duvidas #logo-header{
	margin-top: 23px;
}

header#topo-duvidas #btn-assine{
	background: #ffef37;
	border: 1px solid #ffef37;
	border-radius: 120px;

	color: #3644db;
	float: right;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;

	margin-top: 15px;
	margin-left: 30px;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 155px;
}

header#topo-duvidas #btn-assine:hover{
	background: transparent;
	border: 1px solid #ffef37;

	color: #ffef37;
}

header#topo-duvidas nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo-duvidas nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo-duvidas nav#menu ul li.blog-menu{
	background: url(../img/blog-duvidas.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo-duvidas nav#menu ul li.login{
	background: url(../img/login-duvidas.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo-duvidas nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo-duvidas nav#menu ul li a{
	color: #fff;
}

header#topo-duvidas nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}


header#topo-duvidas h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 43px;
    line-height: 46px;
    font-weight: 900;
    margin: 166px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}

header#topo-duvidas h1 br{
	display: none;
}
/******************** Atribuições Topo duvidas **********************/


/******************** Atribuições Topo pagamento **********************/
header#topo-pagamento{
	background: #01eca9;
	/*background: url(../img/banner-pagamento.jpg) #01eca9;
	background-position: center;
	background-repeat: no-repeat;*/
	height: 755px;
}

header#topo-pagamento #logo-header{
	margin-top: 23px;
}

header#topo-pagamento nav#menu{
	float: right;
	margin-top: 33px;
}

header#topo-pagamento nav#menu ul li{
	box-sizing: border-box;
	float: left;
	color: #3846dc;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 21px;

	list-style: none;
	margin-left: 35px;
	padding-left: 35px;
}

header#topo-pagamento nav#menu ul li.blog-menu{
	background: url(../img/blog-pagamento.png);
	background-position: left;
	background-repeat: no-repeat;
}
header#topo-pagamento nav#menu ul li.login{
	background: url(../img/login-pagamento.png);
	background-position: left;
	background-repeat: no-repeat;
}

header#topo-pagamento nav#menu ul li:last-child{
	margin-right: 0;
}

header#topo-pagamento nav#menu ul li a{
	color: #3846dc;
}

header#topo-pagamento nav#menu ul li a:hover{
  	text-shadow: 1px 0 0 currentColor;
}




header#topo-pagamento h1{
    color: #ffef37;
    font-family: 'portuguesascript';
    font-size: 115px;
    line-height: 61px;
    font-weight: normal;
    margin: 102px 0 0 0;
    text-align: center;
}

header#topo-pagamento h2{
	color: #3846dc;
	font-family: 'Poppins', sans-serif;
    font-size: 46px;
    line-height: 49px;
    font-weight: 900;

    margin: 3px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}

header#topo-pagamento #info-topo-pagamento{
	background: #ffffff;
	box-sizing: border-box;

	color: #364ada;
	font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 27px;

    padding: 30px 55px 0 55px;

    text-align: center;
	margin: 47px auto 0 auto;
	height: 145px;
	width: 600px;
}

header#topo-pagamento #info-topo-pagamento span{
	font-weight: 900;
}


header#topo-pagamento p{
	color: #3f4fe0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	margin: 65px 0 0 0;
	text-align: center;
}


header#topo-pagamento .btn-header{
	background: #3846dc;
	border: 1px solid #3846dc;
	box-sizing: border-box;
	border-radius: 120px;

	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;
	/*line-height: 22px;*/

	margin: 30px auto 0 auto;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	width: 285px;
}

header#topo-pagamento .btn-header:hover{
	background: transparent;
	border: 1px solid #3846dc;

	color: #3846dc;
}
/******************** Atribuições Topo pagamento **********************/


/******************** Atribuições Rodapé **********************/
footer#rodape-mobile,
#bottom-rdp{
	display: none;
}

footer#rodape{
	background: url(../img/bg-rodape.jpg);
	background-position: center;
	background-repeat: no-repeat;

	height: 283px;
}

footer#rodape #itens-rodape{
	display: table;
	margin: 0 auto;
}

footer#rodape #logo-rdp{
	/*float: left;*/

	margin-top: 0;
}


footer#rodape #col-redes{
	margin-right: 60px;
	width: 290px;
}

footer#rodape #col-contato{
	margin-right: 60px;
	width: 310px;
}

footer#rodape #col-cnpj{
	width: 225px;
}

footer#rodape .col-rdp{
	float: right;

	margin-top: 55px;
	/*margin-bottom: 60px;*/
}

footer#rodape .col-rdp h1{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 900;

	margin-bottom: 15px;
	text-transform: uppercase;
}

footer#rodape .col-rdp #redes{
	
}

footer#rodape .col-rdp #redes .rede{
	border: 1px solid #ffef38;
	border-radius: 100px;
	float: left;

	color: #ffef38;
	font-size: 16px;

	margin-right: 5px;
	text-align: center;
	line-height: 37px;
	height: 37px;
	width: 37px;
}

footer#rodape .col-rdp #redes .rede:hover{
	background: #ffef38;

	color: #0b31bb;
}


footer#rodape .col-rdp p#contato{
	background: url(../img/email.png);
	background-position: left;
	background-repeat: no-repeat;
	box-sizing: border-box;

	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 19px;
	font-weight: 700;

	height: 37px;
	padding-left: 50px;
}

footer#rodape .col-rdp p#contato span{
	color: #ffef37;
	font-weight: 500;
}

footer#rodape .col-rdp p#cnpj{
	background: url(../img/cnpj.png);
	background-position: left;
	background-repeat: no-repeat;
	box-sizing: border-box;

	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-size: 12px;
	line-height: 33px;

	margin-top: 25px;
	height: 33px;
	padding-left: 50px;
}


footer#rodape .menu-rdp{
	/*float: right;*/

	margin: 40px 0 0 0;
}

footer#rodape .menu-rdp ul{
	
}

footer#rodape .menu-rdp ul li{
	/*float: left;*/

	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-size: 11px;

	/*margin-left: 35px;*/
	line-height: 22px;
	list-style: none;
}

footer#rodape .menu-rdp ul li:hover{
  	text-shadow: 1px 0 0 currentColor;
}

footer#rodape #dc{
	float: right;
	margin-left: 140px;
}
/******************** Atribuições Rodapé **********************/