/* QUERIES FOR IPAD/TABLETPC */
@media only screen and (max-width: 1590px), only screen and (min-device-width : 768px) and (max-device-width : 1590px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { background: none; min-width: 660px; }
	.conteudo { width: 890px !important; }

	.menuToggle{
	  margin-top: 34px;
	  margin-right: -65px !important;
	}


	/******************** Atribuições Topo HOME **********************/
	header#topo-home{
	    height: 700px;
	}

	header#topo-home .btn-header{
		margin-top: 505px;
		margin-left: 502px;
	}
	/******************** Atribuições Topo HOME **********************/



	/******************** Atribuições Rodapé **********************/
	footer#rodape #col-redes{
		margin-right: 20px;
		width: 150px;
	}

	footer#rodape #col-contato{
		margin-right: 10px;
		width: 300px;
	}

	footer#rodape #col-cnpj{
		width: 160px;
	}

	footer#rodape .col-rdp{
		float: right;

	    margin-top: 50px;
    	margin-bottom: 36px;
	}

	footer#rodape .col-rdp h1{
		font-size: 18px;
	}


	footer#rodape #dc{
		margin-left: 65px;
	}
	/******************** Atribuições Rodapé **********************/



	/************************* Home *************************/
	.planos{
		padding: 45px 0 100px 0;
	}

	.planos img.traco{

	}

	.planos h1{
		font-size: 32px;
		line-height: 37px;
		margin: 10px 0 0 0;
	}

	.planos .itens-planos{
		display: table;
		margin: 0 auto;
	}

	.planos .itens-planos .plano{
		margin: 75px 3px 0 3px;

		padding: 30px 20px 0 20px;
		width: 292px;
	}

	.planos .itens-planos .plano img{
	    max-height: 40px;
	}

	.planos .itens-planos .plano h2{
	    font-size: 22px;
        margin: 10px 0 5px 0;
	}

	.planos .itens-planos .plano .valor{
		font-size: 26px;
	}

	.planos .itens-planos .plano ul{
		margin-top: 10px;
	}

	.planos .itens-planos .plano ul li{
	    font-size: 12px;
    	line-height: 15px;
	}

	.planos .itens-planos .plano .parcelamento{
	    margin: 10px 0 0 0;
	}


	.planos .itens-planos .plano h3{
	    margin: 0 auto 20px auto;
	}


	.planos .itens-planos .plano .btn-plano{
	    line-height: 50px;
    	height: 50px;

	    margin-top: 20px;
	}




	.planos .itens-planos .bronze{
		background: url(../img/bg-plano-bronze.jpg);
		background-position: -24px;
		background-repeat: no-repeat;

		height: 420px;
	}

	.planos .itens-planos .diamante{
		background: url(../img/bg-plano-diamante.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		height: 530px;
		margin: 47px 0 0 0;
	}

	.planos .itens-planos .prata{
		background: url(../img/bg-plano-prata.jpg);
		background-position: -60px;
		background-repeat: no-repeat;

		height: 440px;
	}



	.melhor-plataforma{
		padding: 10px 0 30px 0;
		text-align: center;
	}

	.melhor-plataforma .left{
		/*float: none;*/
		width: 33%;
	}

	.melhor-plataforma .left h1{
		font-size: 48px;
		line-height: 50px;
		margin: 10px 0 10px 0;
		text-align: center;
	}

	.melhor-plataforma .left p{
		font-size: 15px;
		line-height: 28px;
	}

	.melhor-plataforma .right{
		/*float: none;*/

		margin-top: 0;
		margin: 25px auto 0 auto;
		width: 60%;
	}

	.melhor-plataforma .right .computador{
		background-size: contain;
    	height: 418px;	
	    width: 100%;
	}

	.melhor-plataforma .right .computador .tela-computador{
	    height: 330px;
	    width: 498px;
	    position: absolute;
	    top: -17px;
	    left: 19px;
	}


	.por-que{
		padding: 25px 0 30px 0;
		text-align: center;
	}

	.por-que .itens-por-que{
		margin: 0 auto;
		width: 100%;
	}

	.por-que .itens-por-que .item-por-que{
		height: 263px;
		width: 223px;
	}

	.por-que .itens-por-que .item-por-que .hover-por-que{
		padding: 75px 15px 0 15px;
	}



	.professores{
		background-image: url(../img/professores.jpg);
		background-position: center top;
		background-repeat: no-repeat;
		height: 530px;
	}

	.professores .itens-professores{
		margin: 0 auto;
		text-align: center;
		max-width: 100%;
	}

	.professores .itens-professores .left{
		float: left;
		display: inline-block;

		margin-top: 90px;
	}
	.professores .itens-professores .center{
		display: inline-block;
		margin: 0 auto;

	    padding-left: 25px;
	}
	.professores .itens-professores .right{
		float: right;
		display: inline-block;

		margin-top: 90px;
	}

	.professores .itens-professores .professor{
		
	}

	.professores .itens-professores .professor h1{
		color: #354dd9;
		font-family: 'Montserrat', sans-serif;
		font-size: 27px;
		line-height: 28px;

		margin-bottom: 5px;
	}
	.professores .btn-professores{
		background: #ffed38;
		border-radius: 100px;

		color: #1f2dbe;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 800;

		margin: 280px auto 0 auto;

		text-align: center;
		line-height: 40px;
		height: 40px;
		max-width: 258px;

	}



	.o-que{
		padding: 20px 0 25px 0;
		text-align: center;
	}

	.o-que h1{
		font-size: 34px;
		line-height: 36px;
		margin: 10px 0 15px 0;
	}

	.o-que .botoes{
		display: table;
		margin: 40px auto 40px auto;
	}

	.o-que .itens-materias{
		width: 100%;
	}

	.o-que .itens-materias .col-materias{
		width: 100%;
		/*width: 371px;*/
	}

	.o-que .itens-materias .col-materias .item-materias{
		/*background: url(../img/materia.png);
		background-position: left;
		background-repeat: no-repeat;*/
		background-position: 30px;
	    background-size: 50px;
		box-sizing: border-box;

		color: #9498b2;
	    font-family: 'Montserrat', sans-serif;
		font-size: 14px;

		margin-bottom: 27px;
		padding: 0 0 0 88px;
		line-height: 58px;
		height: 59px;
		/*padding: 0 0 0 65px;*/
		text-align: left;
	}



	.sendo-aluno{

		padding: 60px 0 50px 0;
		text-align: center;
	}

	.sendo-aluno .itens-sendo{
		margin: 0 auto;
		/*width: 100%;*/
	}

	.sendo-aluno .itens-sendo .item-sendo{
		float: left;

		/*margin: 0 15px;*/
		/*height: 625px;*/
		width: 286px;
	}

	.sendo-aluno .itens-sendo .intensivao{
		background: url(../img/bg-intensivao.png);
		background-position: center top;
		background-repeat: no-repeat;

		height: 644px;
		margin: 70px 5px 0 5px;
	}

	.sendo-aluno .itens-sendo .aulas{
		background: url(../img/bg-aulas.png);
		background-position: center top;
		background-repeat: no-repeat;
		
		height: 625px;
		margin: 91px 5px 0 5px;
	}

	.sendo-aluno .itens-sendo .acesso{
		background: url(../img/bg-acesso.png);
		background-position: center top;
		background-repeat: no-repeat;
		
		height: 625px;
		margin: 91px 5px 0 5px;
	}

	.sendo-aluno img{
		margin-top: 50px;
	}



	.quem-ja{
		background: #fafafb;
		padding: 25px 0 30px 0;
		text-align: center;
	}

	.quem-ja .itens-quem-ja{
		margin: 55px 0 0 0;
	}

	.quem-ja .itens-quem-ja .item-quem-ja{
		margin-bottom: 70px;
		width: 100%;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left{
		float: none;
		height: 317px;
		width: 400px;
		position: relative;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left .depoimento{
		background: #00ebaa;
		height: 296px;
		width: 378px;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left .video-depoimento{
		background: #ccc;
		float: right;
		height: 296px;
		width: 378px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .right{
		float: none;
		padding: 30px 0 0 23px;
		text-align: left;
		width: 100%;
	}


	.blog .posts{
		display: table;
		margin: 60px auto 0 auto;
	}

	.blog .posts .post{
		float: left;

		margin: 0 5px;
		height: 480px;
		width: 286px;
	}

	.blog .posts .post .img-post{
		margin-bottom: 20px;
		height: 230px;
		width: 100%;
	}
	/************************* Home *************************/


	/************************* Página de Termos de Uso *************************/
	#termos{
		padding: 35px 0 60px 0;
	}

	#termos #info-termos{
		margin: 0 auto;
		width: 100%;
	}

	#termos #info-termos #col-right{
		width: 290px;
	}

	#termos #info-termos #col-right h1{
		font-size: 23px;
		line-height: 30px;
	}

	#termos #info-termos #col-right #btn-termos{
		width: 100%;
	}

	#termos #info-termos #col-left{
		width: 590px;
	}
	/************************* Página de Termos de Uso *************************/


	footer#rodape .col-rdp #redes .rede {
	    font-size: 15px;
	    margin-right: 5px;
	    line-height: 30px;
	    height: 30px;
	    width: 30px;
	}


}

/* QUERIES FOR IPAD/TABLETPC */
@media only screen and (max-width: 1024px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	/* ------ Estrutura Geral e Home ------ */
	body { background: none; min-width: 660px; }
	.conteudo { width: 640px !important; }


	.display-desktop{
		display: none !important;
	}
	.display-tablet{
		display: block !important;
	}


	/******************** Atribuições Topo HOME **********************/
	header#topo-home {
	    background: url(../img/banner.jpg);
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    height: 570px;
	}

	header#topo-home .btn-header{
	    margin-top: 375px;
		margin-left: 358px;
	}

	/******************** Atribuições Topo HOME **********************/


	/******************** Atribuições Rodapé **********************/
	footer#rodape{
		/*background: url(../img/bg-rodape.png);
		background-position: center;
		background-repeat: no-repeat;*/

		height: 283px;
	}

	footer#rodape .col-rdp #redes .rede {
	    font-size: 15px;
	    margin-right: 5px;
	    line-height: 30px;
	    height: 30px;
	    width: 30px;
	}


	footer#rodape #logo-rdp{
		/*float: right;*/

		/*margin-top: 70px;*/
	}

	footer#rodape .col-rdp{
		float: right;

		margin-top: 38px;
		margin-bottom: 34px;
	}

	footer#rodape #menu-rdp{
		display: none;
	}

	footer#rodape #dc{
		float: right;
		margin-left: 0;
	}
	/******************** Atribuições Rodapé **********************/



	.planos .itens-planos{
		display: block;
		margin: 0 auto;
	}

	.planos .itens-planos .plano{
		box-sizing: border-box;
		float: none;
		margin: 85px auto 0 auto;

		padding: 55px 40px 0 40px;
		width: 375px;
	}


	.planos .itens-planos .bronze{
		background: url(../img/bg-plano-bronze.jpg);
		background-position: center;
		background-repeat: no-repeat;

		height: 550px;
	}

	.planos .itens-planos .diamante{
		background: url(../img/bg-plano-diamante.png);
		background-position: center;
		background-repeat: no-repeat;

		height: 638px;
		margin: 45px auto 0 auto;
	}

	.planos .itens-planos .prata{
		background: url(../img/bg-plano-prata.jpg);
		background-position: center;
		background-repeat: no-repeat;

		height: 550px;
	}



	.melhor-plataforma{
		padding: 40px 0 30px 0;
	}


	.melhor-plataforma .left{
		float: none;
		width: 100%;
	}

	.melhor-plataforma .left h1{
		font-size: 40px;
		line-height: 40px;
		margin: 10px 0 10px 0;
	}

	.melhor-plataforma .left h1 br{
		display: none;
	}

	.melhor-plataforma .right{
		margin-top: 25px;
		width: 100%;
	}

	.melhor-plataforma .right .computador{
		background: url(../img/computador.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

    	height: 503px;
		width: 100%;
	}

	.melhor-plataforma .right .computador .tela-computador{
	    /*background: url(../img/dog.gif);*/
		/*background: url(../img/tela-computador.mp4);
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;*/
	    height: 307px;
	    width: 602px;
	    position: absolute;
	    top: 24px;
	    left: 19px;
	}

	.melhor-plataforma .right .computador .tela-computador video{
		height: 100%;
		width: 100%;
	}


	.por-que .itens-por-que .item-por-que{
		height: 263px;
		width: 213px;
	}




	.professores{
		background-image: url(../img/professores.jpg);
		background-position: center 50px;
		background-repeat: no-repeat;
		height: 530px;
	}

	.professores .itens-professores{
		margin: 0 auto;
		text-align: center;
		max-width: 100%;
	}

	.professores .itens-professores .left{
		float: left;
		display: inline-block;

		margin-top: 90px;
	}
	.professores .itens-professores .center{
		display: inline-block;
		margin: 0 auto;

	    padding-left: 25px;
	}
	.professores .itens-professores .right{
		float: right;
		display: inline-block;

		margin-top: 90px;
	}

	.professores .itens-professores .professor{
		
	}

	.professores .itens-professores .professor h1{
		color: #354dd9;
		font-family: 'Montserrat', sans-serif;
		font-size: 27px;
		line-height: 28px;

		margin-bottom: 5px;
	}
	.professores .btn-professores{
		background: #ffed38;
		border-radius: 100px;

		color: #1f2dbe;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		font-weight: 800;

		margin: 280px auto 0 auto;

		text-align: center;
		line-height: 40px;
		height: 40px;
		max-width: 258px;

	}




	.sendo-aluno{

		padding: 60px 0 50px 0;
		text-align: center;
	}

	.sendo-aluno .itens-sendo{
		margin: 0 auto;
		/*width: 100%;*/
	}

	.sendo-aluno .itens-sendo .item-sendo{
		float: none;
		margin: 0 auto;
		/*margin: 0 15px;*/
		/*height: 625px;*/
		width: 360px;
	}

	.sendo-aluno .itens-sendo .intensivao{
		background: url(../img/bg-intensivao.png);
		background-position: center top;
		background-repeat: no-repeat;

		height: 644px;
		margin: 70px auto 0 auto;
	}

	.sendo-aluno .itens-sendo .aulas{
		background: url(../img/bg-aulas.png);
		background-position: center top;
		background-repeat: no-repeat;
		
		height: 625px;
		margin: 91px auto 0 auto;
	}


	.sendo-aluno .itens-sendo .acesso{
		background: url(../img/bg-acesso.png);
		background-position: center top;
		background-repeat: no-repeat;
		
		height: 625px;
		margin: 91px auto 0 auto;
	}



	.quem-ja .itens-quem-ja .item-quem-ja {
		float: none;
	    margin-bottom: 0;
	    margin: 0 auto 70px auto;
	    display: table;
	    width: auto;
	}


	.blog .posts{
		display: block;
		margin: 60px auto 0 auto;
	}

	.blog .posts .post{
		float: none;

		margin: 0 auto 30px auto;
		padding-bottom: 90px;
		height: auto;
		width: 360px;
		text-align: left;
		position: relative;
	}
	/************************* Home *************************/



	/************************* Página de confirmação *************************/
	#tela-confirmada #computador-confirmada #video-confirmada {
	    /* background: #ccc; */
	    margin: 0 auto;
	    height: 335px;
	    width: 657px;
	}
	/************************* Página de confirmação *************************/



	/************************* Página de Termos de Uso *************************/
	#termos #info-termos #col-right{
		float: none;
		margin: 70px auto 0 auto;
		text-align: center;
		width: 380px;
	}
	#termos #info-termos #col-left{
		float: none;
		width: 100%;
	}
	/************************* Página de Termos de Uso *************************/


	/************************* Página de Duvidas frequentes *************************/
	#duvidas{
		padding: 155px 0 85px 0; 
	}

	#duvidas #itens-duvidas{
		margin: 0;
		width: 100%;
	}

	#duvidas #itens-duvidas .item-duvidas{
		background: #3846dc;
		box-sizing: border-box;

		margin: 0 0 22px 0;
		padding: 0 40px 0 35px;
		width: 100%;
	}

	#duvidas #itens-duvidas .item-duvidas .topo-item{
		box-sizing: border-box;
		cursor: pointer;


		padding: 42px 0 45px 0;
	}

	#duvidas #itens-duvidas .item-duvidas .topo-item h1{
		float: left;
		font-size: 16px;
	}

	#duvidas #itens-duvidas .item-duvidas .info-duvidas{
		font-size: 14px;
		line-height: 28px;

		padding: 0 0 40px 0;
	}
	/************************* Página de Duvidas frequentes *************************/


	/************************* Página de Dados de Pagamento *************************/
	#informacoes-pagamento{
		padding: 70px 0;
	}

	#informacoes-pagamento #itens-pagamento{
		display: table;
		margin: 0 auto;
	}

	#informacoes-pagamento .item-pagamento{
		margin: 0 10px;
	}

	#informacoes-pagamento .item-pagamento p{
		font-size: 15px;
		margin: 15px 0 0 0;
	}
	/************************* Página de Dados de Pagamento *************************/


}


@media only screen and (max-width: 680px) {

	/* ------ Estrutura Geral e Home ------ */
	body { min-width: 300px; }
	.conteudo { width: 280px !important; }


	.display-pc{
		display: none !important;
	}
	.display-cel{
		display: block !important;
	}


	/******************** Atribuições Topo HOME **********************/
	header#topo{
		height: 62px;
		width: 100%;
	}

	header#topo #logo-header{
		margin-top: 20px;
		max-width: 74px;
	}

	header#topo #btn-assine{
		font-size: 8px;

		margin-top: 18px;
		margin-left: 0;
		margin-right: 30px;
		line-height: 25px;
		height: 25px;
		width: 80px;
	}

	header#topo nav#menu{
		display: none;
	}

	.menuToggle{
	  margin-top: 21px !important;
	  margin-right: -0 !important;
	}

	.menuToggle span{
	  display: block;
	  width: 38px;
	  height: 1px;
	  margin-bottom: 9px;	  
	}

	.menuToggle2{
  		display: block !important;
	  	margin-top: 34px !important;
	  	margin-right: 0 !important;
	}

	.menuToggle2 span{
		display: block;
		width: 38px;
		height: 1px;
		margin-bottom: 9px;	  
	}


	.topo{
		position: relative;
		z-index: 20;
	}

	header#topo-home{
		background: url(../img/banner-mobile.jpg) #3846dc;
		background-position: center;
		background-repeat: no-repeat;
		height: 558px;
		position: relative;
		z-index: 5;
	}

	header#topo-home #logo-header{
		margin-top: 25px;
		max-width: 157px;
	}

	header#topo-home #btn-assine{
		display: none;
	}

	header#topo-home nav#menu{
		display: none;
	}

	header#topo-home .btn-header{
		font-size: 14px;

		margin-top: 370px;
		margin-left: 0;
		line-height: 55px;
		height: 55px;
		width: 100%;
	}

	header#topo-home .btn-header:hover{
		background: #3846dc;
		border: 1px solid #3846dc;
		color: #ffee34;
	}
	/******************** Atribuições Topo HOME **********************/



	/************************* Home *************************/
	.planos{
		padding: 0px 0 20px 0;
		text-align: center;
	}

	.planos img.traco{
		margin: -41px 0 0 0;
		position: relative;
		z-index: 5;
		display: none;
	}

	.planos h1{
		font-size: 20px;
		line-height: 22px;

		margin: 20px 0 0 0;
	}

	.planos h1 br{
		display: none;
	}

	.planos .display-tablet{
		display: none !important;
	}

	.planos .itens-planos{
		display: block;
		margin: 0;
	}

	.planos .itens-planos .plano{
		float: none;
		margin: 55px auto 20px auto;

		padding: 25px 15px 0 15px;
		width: 230px;
		/*width: 100%;*/
	}


	.planos .itens-planos .bronze{
		background: url(../img/bg-plano-bronze.jpg);
		background-position: center;
		background-repeat: no-repeat;

		height: 321px;
	}

	.planos .itens-planos .diamante{
		background: url(../img/bg-plano-diamante.png);
		background-position: 100% -4px;
		background-repeat: no-repeat;
		background-size: cover;

		height: 351px;
		margin: 25px auto 0 auto;
	}

	.planos .itens-planos .prata{
		background: url(../img/bg-plano-prata.jpg);
		background-position: center;
		background-repeat: no-repeat;

		height: 321px;
	}


	.planos .itens-planos .plano h3{
		background: #ffffff;

		color: #1f2dbe;
		font-size: 7px;

		margin: 0 auto 40px auto;
		line-height: 22px;
		height: 22px;
		width: 125px;
	}

	.planos .itens-planos .plano img{
		display: none;
	}

	.planos .itens-planos .plano h2{
		background: url(../img/plano-diamante.png);
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		display: table;
		font-size: 16px;
		line-height: 27px;

		margin: 0 auto 10px auto;
		padding-left: 38px;
		text-align: left;
	}

	.planos .itens-planos .plano span{
		display: block;
	}

	.planos .itens-planos .plano .tempo{
		font-size: 8px;
		line-height: 19px;

		height: 19px;
		margin: 0 auto;
		padding: 0 10px 0 10px;
	}

	.planos .itens-planos .plano .parcelamento{
		font-size: 8px;
		line-height: 14px;

		margin: 10px 0 0 0;
	}

	.planos .itens-planos .plano .valor{
		font-size: 23px;
	}

	.planos .itens-planos .plano .total{
		font-size: 9px;
		line-height: 15px;
	}

	.planos .itens-planos .plano ul{
		margin-top: 15px;
		text-align: left;
	}

	.planos .itens-planos .plano ul li{
		background: url(../img/check.png);
		background-position: left;
		background-repeat: no-repeat;
		box-sizing: border-box;
		display: table;
		font-size: 9px;

		/*line-height: 12px;*/
		margin-bottom: 0;
		margin: 0 auto;
		padding-left: 20px;
	}

	.planos .itens-planos .plano ul li.item-planos{
		display: none;
	}

	.planos .itens-planos .plano .btn-plano{
		font-size: 10px;

		margin-top: 30px;
		line-height: 38px;
		height: 38px;
		width: 100%;
	}



	.melhor-plataforma{
		padding: 0px 0 30px 0;
	}

	.melhor-plataforma .left{
		float: none;
		width: 100%;
	}

	.melhor-plataforma .left .traco{
		display: none;
	}

	.melhor-plataforma .left h1{
		font-size: 20px;
		line-height: 22px;

		margin: 20px 0 10px 0;
	}

	.melhor-plataforma .left h1 br{
		display: none;
	}

	.melhor-plataforma .left p{
		font-size: 14px;
		line-height: 20px;
	}

	.melhor-plataforma .left p br{
		display: none;
	}

	.melhor-plataforma .right{
		float: none;

		margin-top: 20px;
		width: 100%;
	}

	.melhor-plataforma .right .computador{
		background: transparent;

		height: auto;
		width: 100%;
	}

	.melhor-plataforma .right .computador .tela-computador{
		/*background: url(../img/dog.gif);*/
		/*background: url(../img/tela-computador.mp4);
		background-position: center;
		background-repeat: no-repeat;
		/*background-size: cover;*/
		/*background-size: contain;*/

	    height: 150px;
	    width: 100%;
	    position: relative;
	    top: 0;
	    left: 0;
	}

	.melhor-plataforma .right .computador .tela-computador video{
		height: 100%;
		width: 100%;
	}


	.por-que{
		padding: 20px 0 30px 0;
	}

	.por-que .traco{
		/*display: none;*/
		margin: -30px 0 30px 0;
	}

	.por-que h1{
		font-size: 20px;
		line-height: 22px;

		margin: 0 0 10px 0;
	}

	.por-que h1 br{
	}

	.por-que p{
		font-size: 14px;
		line-height: 20px;

		margin: 0 auto 50px auto;
		max-width: 100%;
	}

	.por-que .itens-por-que{
		margin: 0;
		width: 100%;
	}

	.por-que .itens-por-que .item-por-que{
		box-sizing: border-box;
		cursor: pointer;
		float: left;

		/*padding: 0 30px 0 30px;*/
		height: auto;
		width: 100%;
		position: relative;
		margin-bottom: 40px;
	}

	.por-que .itens-por-que .item-por-que img{
		float: left;
		margin: 0 20px 0 0;
	}

	.por-que .itens-por-que .item-por-que h2{
		float: left;
		font-size: 17px;
		line-height: 22px;
		margin: 10px 0 0 0;
		text-align: left;
	}

	.por-que .itens-por-que .item-por-que .hover-por-que{
		background: url(../img/hover-item.png);
		background-repeat: no-repeat;
		background-position: -40px;
		box-sizing: border-box;

		display: none;
		font-size: 16px;
		line-height: 20px;

		padding: 65px 15px 0 15px;
		height: 190px;
		width: 100%;
		position: relative;
		opacity: 1;
		/*top: 105px;*/
	}



	.traco-none{
		display: none;
	}

	.professores-desktop{
		display: none;
	}
	.professores-cel{
		display: block;
	}

	.professores{
		background: #fff;
		/*background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;*/

		margin-bottom: 100px;
		height: auto;
		width: 100%;
	}

	.professores img{
	    margin-top: -15px;
		max-width: 100%;

		position: relative;
		z-index: 1;
	}

	.professores .itens-professores{
		margin: 0 auto;
		text-align: center;
		max-width: 100%;

		position: relative;
		z-index: 2;
	}

	.professores .itens-professores .left{
		float: left;
		display: inline-block;

		margin-top: 70px;
	}
	.professores .itens-professores .center{
		display: inline-block;
		margin: 0 auto;

		margin-top: 40px;
	    padding-left: 15px;
	}
	.professores .itens-professores .right{
		float: right;
		display: inline-block;

		margin-top: 70px;
	}

	.professores .itens-professores .professor{
		
	}

	.professores .itens-professores .professor h1{
		font-size: 16px;
		line-height: normal;

		margin-bottom: 5px;
	}

	.professores .itens-professores .professor .info-prof{
		box-sizing: border-box;
		font-size: 12px;
		margin: 0 auto;

		padding: 5px 5px 5px 5px;
		max-width: 100%;
	}

	.professores .btn-professores{
		font-size: 12px;

		margin: -70px auto 0 auto;

		line-height: 40px;
		height: 40px;
		/*max-width: 100%;*/

		position: relative;
		z-index: 2;
	}




	.o-que{
		padding: 10px 0 25px 0;
	}

	.o-que .traco{
		display: none;
	}

	.o-que h1{
		font-size: 20px;
		line-height: 22px;

		margin: 0 0 10px 0;
	}

	.o-que h1 br{
		display: none;
	}

	.o-que p{
		font-size: 14px;
		line-height: 20px;
	}

	.o-que .botoes{
		display: table;
		margin: 20px auto 25px auto;
	}

	.o-que .botoes .botao{
		border-bottom: 5px solid transparent;
		font-size: 14px;

		margin: 0 10px;
		padding-bottom: 15px;
	}

	.o-que .botoes .matematica{
		border-color: #ffec2f;
		color: #364ada;
	}

	.o-que .itens-materias{
		margin: 0;
		width: 100%;
	}

	.o-que .itens-materias .itens-matematica{
		display: block;
	}

	.o-que .itens-materias .itens-fisica{
		display: none;
	}

	.o-que .itens-materias .col-materias{
		float: left;
		width: 100%;
	}

	.o-que .itens-materias .col-materias .item-materias{
		background: url(../img/materia.png);
		background-position: left;
		background-repeat: no-repeat;
		box-sizing: border-box;

		font-size: 14px;

		margin-bottom: 22px;
		line-height: 58px;
		height: 59px;
		padding: 0 0 0 70px;
	}



	.quer-conhecer{
		padding: 10px 0 40px 0;
	}

	.quer-conhecer h1{
		font-size: 20px;
		line-height: 22px;

		margin-bottom: 15px;
	}

	.quer-conhecer .btn-quer-conhecer{
		font-size: 13px;

		margin: 0 auto;
		line-height: 60px;
		height: 60px;
		width: 190px;
	}



	.qual-e{
		padding: 0 0 50px 0;
	}

	.qual-e .traco{
		margin: -30px 0 0 0;
	}

	.qual-e h1{
		font-size: 20px;
		line-height: 22px;

		margin: 25px 0 10px 0;
	}

	.qual-e p{
		font-size: 14px;
		line-height: 20px

		margin-bottom: 40px;
	}

	.qual-e .itens-qual-e{
		margin: 0;
		width: 100%;
	}

	.qual-e .itens-qual-e .item-qual-e{
		float: left;
		margin: 0 0 25px 0;
		height: 150px;
		width: 100%;
	}

	.qual-e .itens-qual-e .item-qual-e img{
		float: left;
		/*margin: 45px 10px 0 50px;*/
		margin: 45px 10px 0 35px;
		max-width: 64px;
	}

	.qual-e .itens-qual-e .item-qual-e h2{
		float: left;
		font-size: 16px;
		line-height: 25px;
		margin-top: 45px;
		max-width: 171px;
		text-align: left;
	}

	.qual-e .itens-qual-e .item-qual-e h2 br{
		display: none;
	}

	.qual-e .traco-bottom{
		margin-bottom: -80px;
	}




	.sendo-aluno{
		padding: 60px 0 50px 0;
	}

	.sendo-aluno h1{
		font-size: 20px;
		line-height: 22px;

		margin-bottom: 0;
	}

	.sendo-aluno .itens-sendo{
		margin: 0;
		width: 100%;
	}

	.sendo-aluno .display-tablet{
		display: none !important;
	}

	.sendo-aluno .itens-sendo .item-sendo{
		float: none;

		/*margin: 0 15px;*/
		/*height: 625px;*/
		width: 235px;
		/*width: 100%;*/
	}

	.sendo-aluno .itens-sendo .intensivao{
		/*background: url(../img/bg-intensivao-mobile.jpg);*/
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;

		height: 495px;
		margin: 10px auto 30px auto;
	}

	.sendo-aluno .itens-sendo .intensivao h2{
		font-size: 38px;
		line-height: 36px;

		padding-top: 335px;
		/*margin-top: 415px;*/
	}

	.sendo-aluno .itens-sendo .intensivao h3{
		font-size: 45px;
		line-height: 33px;

		margin: 3px 0 10px 0;
	}

	.sendo-aluno .itens-sendo .intensivao p{
		font-size: 9px;
		line-height: 14px;
	}


	.sendo-aluno .itens-sendo .aulas{
		background: url(../img/bg-aulas.png);
		background-position: center top;
		background-repeat: no-repeat;
		
		height: 496px;
		margin: 10px auto 30px auto;
	}

	.sendo-aluno .itens-sendo .aulas h2{
		font-size: 38px;
		line-height: 36px;

		padding-top: 340px;
	}

	.sendo-aluno .itens-sendo .aulas h3{
		font-size: 45px;
		line-height: 33px;

		margin: 3px 0 10px 0;
	}

	.sendo-aluno .itens-sendo .aulas h4{
		font-size: 20px;
		line-height: 22px;
	}

	.sendo-aluno .itens-sendo .aulas p{
		font-size: 9px;
		line-height: 14px;

		margin-top: 5px;
	}


	.sendo-aluno .itens-sendo .acesso{
		background: url(../img/bg-acesso.png);
		background-position: center top;
		background-size: cover;

		height: 482px;
		margin: 24px auto 30px auto;
	}

	.sendo-aluno .itens-sendo .acesso h2{
		font-size: 38px;
		line-height: 36px;

		padding-top: 320px;
	}

	.sendo-aluno .itens-sendo .acesso h3{
		font-size: 16px;
		line-height: 18px;

		margin: 3px 0 5px 0;
	}

	.sendo-aluno .itens-sendo .acesso h4{
		font-size: 32px;
		line-height: 28px;
	}

	.sendo-aluno .itens-sendo .acesso p{
		font-size: 9px;
		line-height: 14px;

		margin-top: 8px;
	}


	.sendo-aluno img{
		margin-top: 30px;
	}




	.quem-ja{
		background: #fff;
		padding: 0px 0 30px 0;
	}

	.quem-ja .traco{
		display: none;
	}

	.quem-ja h1{
		font-size: 20px;
		line-height: 22px;

		margin-bottom: 5px;
	}

	.quem-ja h1 br{
		/*display: none;*/
	}

	.quem-ja p{
		font-size: 14px;
		line-height: 18px;
	}

	.quem-ja .itens-quem-ja{
		margin: 25px 0 0 0;
	}

	.quem-ja .itens-quem-ja .item-quem-ja{
		float: left;
		margin-bottom: 30px;
		width: 100%;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left{
		float: none;
		height: auto;
		width: 100%;
		position: relative;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left .depoimento{
		background: transparent;
		height: auto;
		width: 100%;
		position: relative;
		bottom: auto;
		left: auto;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left .video-depoimento{
		background: #fff;
		float: none;
		height: 230px;
		width: 100%;
		position: relative;
		top: auto;
		right: auto;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .left .video-depoimento iframe{
		height: 100%;
		width: 100%;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .right{
		box-sizing: border-box;
		float: none;
		padding: 30px 0 0 0;
		text-align: center;
		width: 100%;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .right h2{
		font-size: 14px;
		margin-bottom: 10px;
	}

	.quem-ja .itens-quem-ja .item-quem-ja .right h3{
		font-size: 25px;
		line-height: 30px;
	}



	.blog{
		padding: 0px 0 30px 0;
	}

	.blog h1{
		font-size: 20px;
		line-height: 22px;

		margin-top: 15px;
		margin-bottom: 10px;
	}

	.blog p{
		font-size: 14px;
	}

	.blog .posts{
		display: block;
		margin: 25px auto 0 auto;
	}

	.blog .posts .post{
		float: left;

		margin: 0 0 30px 0;
		padding-bottom: 0;
		height: auto;
		width: 100%;
		text-align: center;
	}

	.blog .posts .post .img-post{
		margin-bottom: 30px;
		height: 270px;
		width: 100%;
	}

	.blog .posts .post h2{
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 10px;
	}

	.blog .posts .post span{
		font-size: 14px;
		line-height: 18px;
	}

	.blog .posts .post .btn-post{
		font-size: 15px;

		margin: 20px auto 0 auto;
		line-height: 60px;
		height: 60px;
		width: 190px;

		position: relative;
	}

	.blog .posts .post .btn-post:hover{
		background: #2439c5;
		border: 1px solid #2439c5;
		color: #fff;
	}
	/************************* Home *************************/



	/******************** Atribuições Rodapé **********************/
	footer#rodape{
		display: none;
	}

	footer#rodape-mobile{
		/*background: url(../img/bg-rodape-mobile.png);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;*/

		background: url(../img/bg-rodape.jpg);
		background-position: center;
		background-repeat: no-repeat;

		display: block;
		/*height: 320px;*/
		height: auto;
		padding: 30px 0;
		text-align: center;
	}

	footer#rodape-mobile #logo-rdp{
		margin-top: 0;
		max-width: 158px;
	}


	#bottom-rdp{
		background: #07289f;
		display: block;
		padding: 40px 0 20px 0;
		text-align: center;
	}

	#bottom-rdp #redes-rdp-mobile{
		
	}

	#bottom-rdp #redes-rdp-mobile span{
		float: left;
		display: block;

		color: #fff04e;
	    font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		line-height: normal;
		font-weight: 900;

		margin-right: 10px;
		margin-top: 9px;
	}

	#bottom-rdp #redes-rdp-mobile .rede-rdp-mobile{
		border: 1px solid #ffef38;
		border-radius: 100px;
		display: table;
		float: left;

		color: #fff;
		font-size: 13px;

		margin: 0 5px 0 0;
		line-height: 27px;
		height: 27px;
		width: 27px;
		text-align: center;
	}

	#bottom-rdp #redes-rdp-mobile .rede-rdp-mobile:hover{
		background: #ffef38;
		color: #0b31bb;
	}


	#bottom-rdp #menu-rdp-mobile{
		margin: 25px 0 15px 0;
		border-bottom: 1px solid #2f4bae;
	}

	#bottom-rdp #menu-rdp-mobile ul{

	}

	#bottom-rdp #menu-rdp-mobile ul li{
		border-top: 1px solid #2f4bae;

		color: #ffffff;
	    font-family: 'Poppins', sans-serif;
		font-size: 10px;

		line-height: 40px;
		list-style: none;
	}

	#bottom-rdp #menu-rdp-mobile ul li:hover{
		font-weight: 700;
	}

	#bottom-rdp p{
		color: #6377c0;
	    font-family: 'Poppins', sans-serif;
		font-size: 10px;
		line-height: 20px;

		margin-bottom: 15px;
	}

	#bottom-rdp img{

	}
	/******************** Atribuições Rodapé **********************/


	/******************** Atribuições Topo Confirmada **********************/
	header#topo-confirmada{
		background: url(../img/banner-confirmada-mobile.jpg);
		background-position: center;
		background-repeat: no-repeat;

		height: 282px;
	}

	header#topo-confirmada #logo-header{
		margin-top: 25px;
    	max-width: 157px;
	}

	header#topo-confirmada .menuToggle2 span{
	    background: #ffee33 !important;
    }

	header#topo-confirmada nav#menu{
		display: none;
	}



	header#topo-confirmada h1{
		color: #ffef37;
		font-family: 'portuguesascript';
		font-size: 80px;
		line-height: 61px;
		font-weight: normal;
		margin: 33px 0 0 0;
		text-align: center;
	}

	header#topo-confirmada h2{
		color: #3846dc;
		font-family: 'Poppins', sans-serif;
	    font-size: 18px;
	    line-height: 22px;
	    font-weight: 900;

	    margin: 3px 0 0 0;
	    text-transform: uppercase;
	    text-align: center;
	}

	header#topo-confirmada p{
	    display: none;
	}



	header#topo-confirmada .btn-header{
		font-size: 12px;

		margin: 25px auto 0 auto;
		padding: 15px 20px;
		width: 100%;
	}

	header#topo-confirmada .btn-header br{
		display: none;
	}

	header#topo-confirmada .btn-header span{
		color: #f6ef3b;
	}

	/*header#topo-confirmada .btn-header:hover{
		background: transparent;
		border: 1px solid #ffee34;

		color: #ffee34;
	}*/
	/******************** Atribuições Topo Confirmada **********************/


	/************************* Página de confirmação *************************/
	#tela-confirmada{
		background: #ffffff;
		box-sizing: border-box;

		padding-top: 77px;
		height: auto;
		text-align: center;
	}

	#tela-confirmada h1{
		color: #3846dc;
		display: block;

	    font-family: 'Montserrat', sans-serif;
		font-size: 19px;
		font-weight: 800;

		margin-bottom: 20px;
	}

	#tela-confirmada #computador-confirmada #video-confirmada{
		/*background: #ccc;*/
		margin: 0;
		height: 142px;
		width: 100%;
	}

	#tela-confirmada #computador-confirmada #video-confirmada iframe{
		height: 100%;
		width: 100%;
	}

	#tela-confirmada .traco{
		margin-top: 23px;
	}



	.alguma-duvida{
		padding: 25px 0 25px 0;
	}

	.alguma-duvida img{
		
	}

	.alguma-duvida h1{
		font-size: 20px;
		line-height: 22px;


		margin: 15px 0 3px 0;
	}

	.alguma-duvida h2{
		font-size: 20px;
		line-height: 22px;
	}

	.alguma-duvida .btn-alguma-duvida{
		font-size: 14px;

		margin: 20px auto 0 auto;
		line-height: 68px;
		height: 68px;
		width: 100%;
	}




	.rumo-ao{
		padding: 0 0 25px 0;
	}

	.rumo-ao img{

	}

	.rumo-ao h1{
		font-size: 20px;
		line-height: 22px;

		margin: 20px 0 0 0;
	}

	.rumo-ao h1 br{
		display: none;
	}
	/************************* Página de confirmação *************************/



	/******************** Atribuições Topo termos **********************/
	header#topo-termos{
		background: url(../img/banner-termos-mobile.jpg);
		background-position: center;
		background-repeat: no-repeat;
		height: 212px;
	}

	header#topo-termos #logo-header{
		margin-top: 25px;
    	max-width: 157px;
	}

	header#topo-termos #btn-assine{
		display: none;
	}

	header#topo-termos nav#menu{
		display: none;
	}


	header#topo-termos h1{
	    font-size: 17px;
	    line-height: 23px;
	    font-weight: 900;
	    margin: 57px 0 0 0;
	}
	/******************** Atribuições Topo termos **********************/



	/************************* Página de Termos de Uso *************************/
	#termos{
		padding: 40px 0 60px 0;
	}

	#termos #info-termos{
		margin: 0;
		width: 100%;
	}

	#termos #info-termos #col-right{
		float: none;
		width: 100%;
	}

	#termos #info-termos #col-right h1{
		font-size: 20px;
		line-height: 22px;
		margin-top: 40px;
	}

	#termos #info-termos #col-right #btn-termos{
		font-size: 14px;

		margin: 25px 0 0 0;
		line-height: 60px;
		height: 60px;
		width: 100%;
	}


	#termos #info-termos #col-left{
		float: none;
		width: 100%;
	}

	#termos #info-termos #col-left h1{
		font-size: 20px;

		margin: 25px 0 10px 0;
		text-align: center;
	}

	#termos #info-termos #col-left p{
		font-size: 13px;
		line-height: 20px;

		padding: 0 0 0 0;
	}

	#termos #info-termos #col-left h2{
		font-size: 20px;

		margin: 20px 0 10px 0;
	}

	#termos #info-termos #col-left h3{
		font-size: 13px;

		margin: 15px 0 5px 0;
		padding: 0 0 0 0;
	}
	/************************* Página de Termos de Uso *************************/



	/******************** Atribuições Topo duvidas **********************/
	header#topo-duvidas{
		background: url(../img/banner-duvidas-mobile.jpg);
		background-position: center;
		background-repeat: no-repeat;
		height: 212px;
	}

	header#topo-duvidas #logo-header{
		margin-top: 25px;
    	max-width: 157px;
	}

	header#topo-duvidas #btn-assine{
		display: none;
	}

	header#topo-duvidas nav#menu{
		display: none;
	}


	header#topo-duvidas h1{
	    font-size: 24px;
	    line-height: 24px;
	    font-weight: 900;
	    margin: 57px 0 0 0;
	}

	header#topo-duvidas h1 br{
		display: block;
	}
	/******************** Atribuições Topo duvidas **********************/



	/************************* Página de Duvidas frequentes *************************/
	#duvidas{
		padding: 22px 0 75px 0; 
	}

	#duvidas #itens-duvidas{
		margin: 0;
		width: 100%;
	}

	#duvidas #itens-duvidas .item-duvidas{
		margin: 0 0 22px 0;
		padding: 0 20px 0 25px;
		width: 100%;
	}

	#duvidas #itens-duvidas .item-duvidas .topo-item{
		box-sizing: border-box;
		cursor: pointer;


		padding: 40px 0 40px 0;
	}

	#duvidas #itens-duvidas .item-duvidas .topo-item h1{
		float: left;
		font-size: 12px;

		max-width: 220px;
	}

	#duvidas #itens-duvidas .item-duvidas .topo-item span{
		float: right;
		font-size: 20px;
		line-height: normal;
	}

	#duvidas #itens-duvidas .item-duvidas .info-duvidas{
		font-size: 11px;
		line-height: 18px;

		padding: 0 0 40px 0;
	}
	/************************* Página de Duvidas frequentes *************************/



	/******************** Atribuições Topo pagamento **********************/
	header#topo-pagamento{
		background: url(../img/banner-pagamento-mobile.jpg);
		background-position: center;
		background-repeat: no-repeat;
		height: 601px;
	}

	header#topo-pagamento #logo-header{
		margin-top: 25px;
    	max-width: 157px;
	}

	header#topo-pagamento .menuToggle2 span{
	    background: #ffee33 !important;
    }

	header#topo-pagamento nav#menu{
		display: none;
	}



	header#topo-pagamento h1{
	    color: #ffef37;
		font-family: 'portuguesascript';
		font-size: 62px;
		line-height: 48px;
		font-weight: normal;
		margin: 25px 0 0 0;
		text-align: center;
	}

	header#topo-pagamento h2{
		color: #3846dc;
		font-family: 'Poppins', sans-serif;
	    font-size: 18px;
	    line-height: 22px;
	    font-weight: 900;

	    margin: -3px 0 0 0;
	    text-transform: uppercase;
	    text-align: center;
	}

	header#topo-pagamento #info-topo-pagamento{

		font-family: 'Poppins', sans-serif;
	    font-size: 13px;
	    line-height: 20px;

	    padding: 35px 25px 0 25px;

		margin: 25px auto 0 auto;
		height: 180px;
		width: 100%;
	}



	header#topo-pagamento p{
		font-size: 13px;

		margin: 28px 0 0 0;
	}

	header#topo-pagamento p br{
		display: none;
	}

	header#topo-pagamento .btn-header{
		font-size: 19px;
		margin: 20px auto 0 auto;
		padding: 25px 0;
		width: 100%;
	}

	/******************** Atribuições Topo pagamento **********************/



	/************************* Página de Dados de Pagamento *************************/
	#informacoes-pagamento{
		padding: 45px 0 0 0;
	}

	#informacoes-pagamento #itens-pagamento{
		display: block;
		margin: 0;
	}

	#informacoes-pagamento .item-pagamento{
		float: none;
		margin: 0 0 40px 0;
	}

	#informacoes-pagamento .item-pagamento img{

	}

	#informacoes-pagamento .item-pagamento p{
		font-size: 17px;

		margin: 15px 0 0 0;
	}
	/************************* Página de Dados de Pagamento *************************/


}