@charset "UTF-8";

/* CSS - Ferreto | Codificado por: Ueek Agência Digital | Ano: 2019 */

select,
option,
textarea,
input[type="submit"],
input[type="text"],
input[type="text"]::placeholder{
    font-family: 'Montserrat', sans-serif;
}


.display-pc{
	display: block !important;
}
.display-desktop{
	display: block !important;
}
.display-tablet{
	display: none !important;
}
.display-cel{
	display: none !important;
}




.fancybox-slide--video .fancybox-content{
    max-width: 1000px;
    max-height: 550px;
}


/************************* Home *************************/
.planos{
	background: #fff;
	padding: 45px 0 100px 0;
	text-align: center;

	position: relative;
    z-index: 10;
}

.planos img.traco{

}

.planos h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 37px;

	margin: 10px 0 0 0;
}

.planos h1 strong{
	font-weight: 900;
}

.planos .itens-planos{
	display: table;
	margin: 0 auto;
}

.planos .itens-planos .plano{
	box-sizing: border-box;
	float: left;
	margin: 85px 7.5px 0 7.5px;

	padding: 55px 40px 0 40px;
	width: 375px;
}


.planos .itens-planos .bronze{
	background: url(../img/bg-plano-bronze.jpg);
	background-position: center;
	background-repeat: no-repeat;

	height: 550px;
}
.planos .display-desktop .itens-planos .bronze:hover{
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.planos .itens-planos .diamante{
	background: url(../img/bg-plano-diamante.png);
	background-position: center;
	background-repeat: no-repeat;

	height: 638px;
	margin: 45px 0 0 0;
}
.planos .display-desktop .itens-planos .diamante:hover{
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.planos .itens-planos .prata{
	background: url(../img/bg-plano-prata.jpg);
	background-position: center;
	background-repeat: no-repeat;

	height: 550px;
}
.planos .display-desktop .itens-planos .prata:hover{
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}



.planos .itens-planos .plano h3{
	background: #3748db;
	border-radius: 100px;

	color: #fbe82e;
    font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 800;

	margin: 0 auto 40px auto;
	line-height: 40px;
	height: 40px;
	width: 225px;
}

.planos .itens-planos .plano img{
	
}

.planos .itens-planos .plano h2{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 800;
	line-height: 29px;

	margin: 20px 0 5px 0;
}

.planos .itens-planos .plano span{
	display: block;
}

.planos .itens-planos .plano .tempo{
	border: 2px solid #ffed38;
	border-radius: 100px;
	display: table;

	color: #ffed38;
    font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 25px;

	height: 25px;
	margin: 0 auto;
	padding: 0 10px 0 10px;
}

.planos .itens-planos .plano .parcelamento{
	color: #ffed38;
    font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	line-height: 21px;

	margin: 15px 0 0 0;
}

.planos .itens-planos .diamante .parcelamento{
	color: #ffffff;
}

.planos .itens-planos .plano .valor{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 29px;
	font-weight: 800;
}

.planos .itens-planos .plano .total{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 21px;
}

.planos .itens-planos .plano ul{
	margin-top: 35px;
	text-align: left;
}

.planos .itens-planos .plano ul li{
	background: url(../img/check.png);
	background-position: left;
	background-repeat: no-repeat;
	box-sizing: border-box;

	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 13px;

	line-height: 17px;
	list-style: none;
	margin-bottom: 10px;
	padding-left: 30px;
}

.planos .itens-planos .plano .btn-plano{
	background: #00e79c;
	border: 1px solid #00e79c;
	border-radius: 100px;
	color: #3748db;

    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 800;

	margin-top: 30px;
	line-height: 68px;
	height: 68px;
	width: 100%;
}

.planos .itens-planos .plano .btn-plano:hover{
	background: transparent;
	color: #00e79c;
}


.planos .itens-planos .diamante .btn-plano{
	background: #ffed38;
	border: 1px solid #ffed38;
	color: #1f2dbe;
}

.planos .itens-planos .diamante .btn-plano:hover{
	background: transparent;
	color: #ffed38;
}


.melhor-plataforma{
	padding: 40px 0 30px 0;
}

.melhor-plataforma .left{
	float: left;
	width: 300px;
}

.melhor-plataforma .left .traco{
	
}

.melhor-plataforma .left h1{
	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	line-height: 50px;

	margin: 10px 0 10px 0;
}

.melhor-plataforma .left h1 span{
	font-weight: 800;
}

.melhor-plataforma .left p{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 28px;
}

.melhor-plataforma .right{
	float: right;

	margin-top: 25px;
	width: 860px;
}

.melhor-plataforma .right .computador{
	background: url(../img/computador.png);
	background-position: center;
	background-repeat: no-repeat;

	height: 600px;
	width: 853px;
	position: relative;
}

.melhor-plataforma .right .computador .tela-computador{
	/*background: url(../img/dog.gif);*/
	/*background: url(../img/tela-computador.mp4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/

    height: 370px;
    width: 724px;
    position: absolute;
    top: 25px;
    left: 65px;
}

.melhor-plataforma .right .computador .tela-computador video{
	height: 100%;
	width: 100%;
}


.por-que{
	padding: 25px 0 30px 0;
	text-align: center;
}

.por-que .traco{
	margin-top: 50px;
}

.por-que h1{
	color: #3749db;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 42px;

	margin: 10px 0;
}

.por-que h1 span{
	font-weight: 800;
}

.por-que p{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 24px;

	margin: 0 auto 50px auto;
	max-width: 388px;
}

.por-que .itens-por-que{
	margin: 0 auto;
	width: 1052px;
}

.por-que .itens-por-que .item-por-que{
	box-sizing: border-box;
	float: left;

	/*padding: 0 30px 0 30px;*/
	height: 263px;
	width: 263px;
	position: relative;
}

.por-que .itens-por-que .item-por-que img{
	margin: 38px 0 30px 0;
}

.por-que .itens-por-que .item-por-que h2{
	
    color: #3749db;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 22px;
}

.por-que .itens-por-que .item-por-que .hover-por-que{
	background: #3749db;
	box-sizing: border-box;

	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 20px;

	padding: 85px 30px 0 30px;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	top: 0;
}

.por-que .itens-por-que .item-por-que:hover .hover-por-que{
	opacity: 1;
}



.professores-desktop{
	display: block;
}
.professores-cel{
	display: none;
}

.professores{
	background-image: url(../img/professores.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 770px;
}

.professores .itens-professores{
	margin: 0 auto;
	text-align: center;
	max-width: 790px;
}

.professores .itens-professores .left{
	float: left;
	display: inline-block;

	margin-top: 90px;
}
.professores .itens-professores .center{
	display: inline-block;
	margin: 0 auto;

    padding-left: 25px;
}
.professores .itens-professores .right{
	float: right;
	display: inline-block;

	margin-top: 90px;
}

.professores .itens-professores .professor{
	
}

.professores .itens-professores .professor h1{
	color: #354dd9;
	font-family: 'Montserrat', sans-serif;
	font-size: 27px;
	line-height: 28px;

	margin-bottom: 5px;
}

.professores .itens-professores .professor h1 span{
	font-weight: 800;
}

.professores .itens-professores .professor .info-prof{
	background: #ffed38;
	border-radius: 100px;

	color: #354dd9;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 800;

	margin: 0 auto;

	padding: 5px 0 5px 0;
	max-width: 125px;
}

.professores .btn-professores{
	background: #ffed38;
	border-radius: 100px;

	color: #1f2dbe;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 800;

	margin: 500px auto 0 auto;

	text-align: center;
	line-height: 40px;
	height: 40px;
	max-width: 258px;

}



.o-que{
	padding: 20px 0 25px 0;
	text-align: center;
}

.o-que .traco{
	
}

.o-que h1{
	color: #3749db;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 36px;

	margin: 10px 0 15px 0;
}

.o-que h1 span{
	font-weight: 800;
}

.o-que p{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

.o-que span{
	color: #3749db;
}

.o-que .botoes{
	display: table;
	margin: 40px auto 40px auto;
}

.o-que .botoes .botao{
	border-bottom: 5px solid transparent;
	/*border-bottom: 5px solid #ffec2f;*/
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;

	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 800;

	margin: 0 20px;
	padding-bottom: 15px;
}

.o-que .botoes .matematica{
	border-color: #ffec2f;
	color: #364ada;
}


.o-que .txt-quimica{
	color: #adb0c3;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-top: 30px;
}


.o-que .itens-materias{
	margin: 0 auto;
	width: 1115px;
}

.o-que .itens-materias .itens-matematica{
	display: block;
}

.o-que .itens-materias .itens-fisica{
	display: none;
}

.o-que .itens-materias .itens-quimica{
	display: none;
}

.o-que .itens-materias .col-materias{
	float: left;
	width: 371px;
}

.o-que .itens-materias .col-materias .item-materias{
	background: url(../img/materia.png);
	background-position: 70px;
	/*background-position: left;*/
	background-repeat: no-repeat;
	box-sizing: border-box;

	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	margin-bottom: 27px;
	line-height: 58px;
	height: 59px;
	padding: 0 0 0 145px;
	text-align: left;
}



.quer-conhecer{
	padding: 10px 0 40px 0;
	text-align: center;
}

.quer-conhecer h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 36px;

	margin-bottom: 15px;
}

.quer-conhecer h1 span{
	font-weight: 800;
}

.quer-conhecer .btn-quer-conhecer{
	background: #ffee34;
	border: 1px solid #ffee34;
	border-radius: 100px;

	color: #364ada;
    font-family: 'Poppins', sans-serif;
	font-size: 13px;
	font-weight: 700;

	margin: 0 auto;
	line-height: 60px;
	height: 60px;
	width: 195px;
}

.quer-conhecer .btn-quer-conhecer:hover{
	background: #364ada;
	border: 1px solid #364ada;

	color: #ffee34;
}


.qual-e{
	background: #fafafb;
	padding: 0 0 50px 0;
	text-align: center;
}

.qual-e .traco{
	margin: -30px 0 0 0;
}

.qual-e h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 36px;

	margin: 45px 0 15px 0;
}

.qual-e h1 span{
	font-weight: 800;
}

.qual-e p{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;

	margin-bottom: 40px;
}

.qual-e .itens-qual-e{
	margin: 0 auto;
	width: 590px;
}

.qual-e .itens-qual-e .item-qual-e{
	background: #fff;
	float: left;

	margin: 0 15px 50px 15px;
	height: 280px;
	width: 265px;
}

.qual-e .itens-qual-e .item-qual-e img{
	margin: 55px 0 25px 0;
}

.qual-e .itens-qual-e .item-qual-e h2{
	color: #364ada;
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 25px;
}

.qual-e .itens-qual-e .item-qual-e h2 span{
	font-weight: 900;
}

.qual-e .traco-bottom{
	margin-bottom: -80px;
}


.sendo-aluno{

	padding: 60px 0 50px 0;
	text-align: center;
}

.sendo-aluno h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 36px;

	margin-bottom: 0;
}

.sendo-aluno h1 span{
	font-weight: 800;
}

.sendo-aluno .display-desktop .itens-sendo{
	display: table;
}

.sendo-aluno .itens-sendo{
	margin: 0 auto;
	/*width: 1170px;*/
}

.sendo-aluno .itens-sendo .item-sendo{
	float: left;

	/*margin: 0 15px;*/
	/*height: 625px;*/
	width: 360px;
}

.sendo-aluno .itens-sendo .intensivao{
	background: url(../img/bg-intensivao.png);
	background-position: center top;
	background-repeat: no-repeat;

	height: 644px;
	margin: 70px 15px 0 15px;
}

.sendo-aluno .itens-sendo .intensivao h2{
	color: #ffec2f;
	/*portuguesa script*/
  	font-family: 'portuguesascript';
	font-size: 60px;
	line-height: 47px;

	padding-top: 415px;
	/*margin-top: 415px;*/
}

.sendo-aluno .itens-sendo .intensivao h3{
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-size: 70px;
	line-height: 51px;
	font-weight: 800;

	margin: 3px 0 20px 0;
}

.sendo-aluno .itens-sendo .intensivao p{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 22px;
}


.sendo-aluno .itens-sendo .aulas{
	background: url(../img/bg-aulas.png);
	background-position: center top;
	background-repeat: no-repeat;
	
	height: 625px;
	margin: 91px 15px 0 15px;
}

.sendo-aluno .itens-sendo .aulas h2{
	color: #ffec2f;
	/*portuguesa script*/
  	font-family: 'portuguesascript';
	font-size: 60px;
	line-height: 47px;

	padding-top: 390px;
	/*margin-top: 390px;*/
	position: relative;
	z-index: 2;
}

.sendo-aluno .itens-sendo .aulas h3{
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
	font-size: 70px;
	line-height: 51px;
	font-weight: 800;

	margin: 3px 0 5px 0;
	position: relative;
	z-index: 1;
}

.sendo-aluno .itens-sendo .aulas h4{
	color: #1f34bd;
    font-family: 'Poppins', sans-serif;
	font-size: 27px;
	line-height: 27px;
	font-weight: 800;
}

.sendo-aluno .itens-sendo .aulas p{
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 22px;

	margin-top: 5px;
}


.sendo-aluno .itens-sendo .acesso{
	background: url(../img/bg-acesso.png);
	background-position: center top;
	background-repeat: no-repeat;
	
	height: 625px;
	margin: 91px 15px 0 15px;
}

.sendo-aluno .itens-sendo .acesso h2{
	color: #2035bf;
	/*portuguesa script*/
  	font-family: 'portuguesascript';
	font-size: 60px;
	line-height: 47px;

	padding-top: 415px;
	/*margin-top: 415px;*/
}

.sendo-aluno .itens-sendo .acesso h3{
	color: #1f34bd;
    font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 800;

	margin: 3px 0 5px 0;
}

.sendo-aluno .itens-sendo .acesso h4{
	color: #1f34bd;
    font-family: 'Poppins', sans-serif;
	font-size: 43px;
	line-height: 32px;
	font-weight: 800;
}

.sendo-aluno .itens-sendo .acesso p{
	color: #2439c5;
    font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 22px;

	margin-top: 8px;
}


.sendo-aluno img{
	margin-top: 60px;
}



.quem-ja{
	background: #fafafb;
	padding: 25px 0 30px 0;
	text-align: center;
}

.quem-ja .traco{
	
}

.quem-ja h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 36px;

	margin-bottom: 5px;
}

.quem-ja h1 span{
	font-weight: 800;
}

.quem-ja p{
	color: #9498b2;
    font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.quem-ja .itens-quem-ja{
	margin: 55px 0 0 0;
}

.quem-ja .itens-quem-ja .item-quem-ja{
	float: left;
	margin-bottom: 70px;
	width: 700px;
}

.quem-ja .itens-quem-ja .item-quem-ja .left{
	float: left;
	height: 317px;
	width: 400px;
	position: relative;
}

.quem-ja .itens-quem-ja .item-quem-ja .left .depoimento{
	background: #00ebaa;
	height: 296px;
	width: 378px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.quem-ja .itens-quem-ja .item-quem-ja .left .video-depoimento{
	background: #ccc;
	float: right;
	height: 296px;
	width: 378px;
	position: absolute;
	top: 0;
	right: 0;
}

.quem-ja .itens-quem-ja .item-quem-ja .left .video-depoimento iframe{
	height: 100%;
	width: 100%;
}

.quem-ja .itens-quem-ja .item-quem-ja .right{
	box-sizing: border-box;
	float: right;
	padding: 75px 0 0 23px;
	text-align: left;
	width: 290px;
}

.quem-ja .itens-quem-ja .item-quem-ja .right h2{
	color: #042bbc;
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
}

.quem-ja .itens-quem-ja .item-quem-ja .right h3{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 31px;
	line-height: 33px;
}

.quem-ja .itens-quem-ja .item-quem-ja .right h3 span{
	font-weight: 800;
}


.blog{

	padding: 60px 0 110px 0;
	text-align: center;
}

.blog h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	line-height: 36px;

	margin-top: 15px;
	margin-bottom: 5px;
}

.blog h1 span{
	font-weight: 800;
}

.blog p{
	color: #9498b2;
    font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

.blog .posts{
	display: table;
	margin: 60px auto 0 auto;
}

.blog .posts .post{
	float: left;

	margin: 0 15px;
	height: 522px;
	width: 360px;
	text-align: left;
	position: relative;
}

.blog .posts .post .img-post{
	background: url(../img/blog.jpg);
	background-position: center;
	background-repeat: no-repeat;

	margin-bottom: 30px;
	height: 270px;
	width: 100%;
}

.blog .posts .post h2{
	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 26px;

	font-weight: 800;
	margin-bottom: 5px;
}

.blog .posts .post span{
	color: #9498b2;
	display: block;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 24px;
}

.blog .posts .post .btn-post{
	border: 1px solid #2439c5;
	border-radius: 100px;
	color: #2439c5;

    font-family: 'Poppins', sans-serif;
	font-size: 15px;

	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 190px;

	position: absolute;
	bottom: 0;
}

.blog .posts .post .btn-post:hover{
	background: #2439c5;
	border: 1px solid #2439c5;
	color: #fff;
}
/************************* Home *************************/


/************************* Página de confirmação *************************/
#tela-confirmada{
	background: url(../img/computador-confirmada.png);
	/*background-position: -32px top;*/
	background-position: top;
	background-repeat: no-repeat;
	box-sizing: border-box;

	padding-top: 105px;
	height: 780px;
	text-align: center;
}

#tela-confirmada h1{
	display: none;
}

#tela-confirmada #computador-confirmada{
	
}

#tela-confirmada #computador-confirmada #video-confirmada{
	background: url(../img/bg-video.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 337px;
	width: 670px;
}

#tela-confirmada #computador-confirmada #video-confirmada iframe{
	height: 100%;
	width: 100%;
}

#tela-confirmada .traco{
	margin-top: 275px;
}


.alguma-duvida{
	padding: 50px 0 70px 0;
	text-align: center;
}

.alguma-duvida img{
	
}

.alguma-duvida h1{
	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 34px;


	margin: 20px 0 3px 0;
}

.alguma-duvida h2{
	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 34px;
	font-weight: 700;
}

.alguma-duvida .btn-alguma-duvida{
	background: #3846dc;
	border: 1px solid #3846dc;
	border-radius: 200px;

	color: #ffef38;
    font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 800;

	margin: 25px auto 0 auto;
	line-height: 87px;
	height: 87px;
	width: 585px;
	text-align: center;
}

.alguma-duvida .btn-alguma-duvida:hover{
	background: transparent;
	border: 1px solid #3846dc;
	color: #3846dc;
}


.rumo-ao{

	padding: 0 0 60px 0;
	text-align: center;
}

.rumo-ao img{

}

.rumo-ao h1{
	color: #364ada;
    font-family: 'Montserrat', sans-serif;
	font-size: 52px;
	line-height: 55px;

	margin: 60px 0 0 0;
}

.rumo-ao h1 span{
	font-weight: 800;

}
/************************* Página de confirmação *************************/


/************************* Página de Termos de Uso *************************/
#termos{
	padding: 35px 0 60px 0;
}

#termos #info-termos{
	margin: 0 auto;
	width: 1170px;
}

#termos #info-termos #col-right{
	float: right;
	width: 380px;
}

#termos #info-termos #col-right h1{
	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 31px;
	line-height: 41px;
	margin-top: 25px;
}

#termos #info-termos #col-right h1 span{
	font-weight: 800;
}

#termos #info-termos #col-right #btn-termos{
	background: #ffee34;
	border: 1px solid #ffee34;
	border-radius: 100px;

	color: #3947dd;
    font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;

	margin: 20px 0 0 0;
	text-align: center;
	line-height: 60px;
	height: 60px;
	width: 325px;
}

#termos #info-termos #col-right #btn-termos:hover{
	background: #3947dd;
	border: 1px solid #3947dd;
	color: #ffee34;
}


#termos #info-termos #col-left{
	float: left;
	width: 730px;
}

#termos #info-termos #col-left h1{
	color: #00e79c;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 800;

	margin: 25px 0 15px 0;
	text-transform: uppercase;
}

#termos #info-termos #col-left p{
	box-sizing: border-box;

	color: #9498b2;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 28px;

	padding: 0 0 0 50px;
}

#termos #info-termos #col-left p span{
	color: #364ada;
	font-weight: 700;
}

#termos #info-termos #col-left h2{
	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: 800;

	margin: 15px 0 10px 0;
}

#termos #info-termos #col-left h3{
	box-sizing: border-box;

	color: #354dd9;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 800;

	margin: 40px 0 5px 0;
	padding: 0 0 0 50px;
}
/************************* Página de Termos de Uso *************************/

/************************* Página de Duvidas frequentes *************************/
#duvidas{
	padding: 155px 0 85px 0; 
}

#duvidas #itens-duvidas{
	margin: 0 auto;
	width: 815px;
}

#duvidas #itens-duvidas .item-duvidas{
	background: #3846dc;
	box-sizing: border-box;

	margin: 0 0 22px 0;
	padding: 0 40px 0 45px;
	width: 100%;
}

#duvidas #itens-duvidas .item-duvidas .topo-item{
	box-sizing: border-box;
	cursor: pointer;


	padding: 42px 0 45px 0;
}

#duvidas #itens-duvidas .item-duvidas .topo-item h1{
	color: #eedf32;
	display: inline-block;
	float: left;
    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 800;
}

#duvidas #itens-duvidas .item-duvidas .topo-item span{
	color: #ffffff;
	display: inline-block;
	float: right;
    font-family: 'Montserrat', sans-serif;
	font-size: 54px;
	line-height: 24px;
}

#duvidas #itens-duvidas .item-duvidas .info-duvidas{
	color: #ffffff;
	display: none;
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 28px;

	padding: 0 0 50px 0;
}
/************************* Página de Duvidas frequentes *************************/

/************************* Página de Dados de Pagamento *************************/
#informacoes-pagamento{
	padding: 70px 0;
}

#informacoes-pagamento #itens-pagamento{
	display: table;
	margin: 0 auto;
}

#informacoes-pagamento .item-pagamento{
	float: left;

	margin: 0 30px;

	text-align: center;
}

#informacoes-pagamento .item-pagamento img{

}

#informacoes-pagamento .item-pagamento p{
	color: #3749db;
    font-family: 'Poppins', sans-serif;
	font-size: 17px;

	margin: 15px 0 0 0;
}

#informacoes-pagamento .item-pagamento p span{
	font-weight: 800;
}
/************************* Página de Dados de Pagamento *************************/