<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/site.css">
<link rel="stylesheet" href="css/mobile.css" media="(max-width: 640px)">
<link rel="stylesheet" href="https://cdn.rawgit.com/idiot/unslider/master/dist/css/unslider.css">
<script src="//code.jquery.com/jquery-2.1.4.js"></script>

<script src="https://cdn.rawgit.com/idiot/unslider/master/dist/js/unslider-min.js"></script>


<li id="demos" data-nav="Demos <span class='amp'>&amp;</span> Usage">
	<div class="wrap">
		<div class="demo">
			<div class="automatic-slider">
				<ul>
					<li>Slide 1</li>
					<li>Slide 2</li>
					<li>Slide 3</li>
					<li>Slide 4</li>
				</ul>
			</div>
			<script>$('.automatic-slider').unslider({
				autoplay: true
			});</script>
		</div>
	</div>
</li>