body {
  overflow-x: hidden;
}

.conteudo-menu{
  box-sizing: border-box;
  margin: 0 0px 0 69px;
  position: relative;
}

/* Funcionamento do menu */
[role=navigation]{
  display: block; /* O DISPLAY DEVE FICAR NONE NO DESKTOP E TABLER E SÓ ALTERAR PARA BLOCK NO CELULAR */

	/*display: block;  SÓ ESTÁ BLOCK AGORA PRA DEMONSTRAÇÃO */
}

.menuToggle{
  display: block;
  float: right;
  position: relative;
  
  margin-top: 34px;
  /*margin-top: 75px;*/
  margin-right: -83px;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
}


.topo-menu{
  background: #FFFFFF;
  box-shadow: 0px 0px 49px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  height: 143px;
  width: 100%;
}

.topo-menu img{
  margin-top: 29px;
}


.menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span{
  display: block;
  width: 38px;
  height: 1px;
  margin-bottom: 10px;
  position: relative;
  
  background: #ffee33;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu-cel{
  box-sizing: border-box;
  display: none;
  background: #0B1C2E;
  position: absolute;
  
  /*margin: -67px 0 0 0;*/

  min-height: 831px;
  width: 299px;

  padding: 140px 0 0 0;

  position: fixed;
  right: 0;
  top: 0;
  /*right: -177px;*/

  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-cel li{
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  /* identical to box height */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  list-style: none;

  /*margin-bottom: 40px;*/
  margin-bottom: 4.3vh;
  /*padding-left: 57px;*/
  text-align: left;
}

.menu-cel .linha-menu{
  background: #122A43;
  height: 2px;
  max-width: 164px;
}

.menu-cel li .icone-menu{
  display: inline-block;
  height: 20px;
  width: 48px;
}


.menu-cel li.inicio .icone-menu{
  background: url(../../../img/inicio.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.inicio:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.coc .icone-menu{
  background: url(../../../img/coc.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.coc:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.ensino .icone-menu{
  background: url(../../../img/ensino.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.ensino:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.equipe .icone-menu{
  background: url(../../../img/equipe.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.equipe:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.calendario .icone-menu{
  background: url(../../../img/calendario.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.calendario:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.matriculas .icone-menu{
  background: url(../../../img/matriculas.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.matriculas:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.galeria .icone-menu{
  background: url(../../../img/galeria.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.galeria:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.blog-menu .icone-menu{
  background: url(../../../img/blog.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.blog-menu:hover .icone-menu{
  filter: brightness(0) invert(1);
}


.menu-cel li.contato-menu .icone-menu{
  background: url(../../../img/contato.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}
.menu-cel li.contato-menu:hover .icone-menu{
  filter: brightness(0) invert(1);
}

.menu-cel li:hover{
  color: #2E9E46;
}


.menu-cel .redes-menu{
  display: table;

  margin-top: 4.3vh;
}

.menu-cel .redes-menu .rede-menu{
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  color: #2E9E46;
  float: left;


  margin: 0 15px;
  
  line-height: 36.31px;
  height: 36.31px;
  width: 36.31px;
  text-align: center;
}

.menu-cel .redes-menu .rede-menu:hover{
  background: transparent;
  color: #fff;
}
/* Funcionamento do menu */



@media only screen and (max-width: 680px) {

  [role=navigation]{
    display: block;
  }
  
}